.container-m{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vmax;
    height: 100vmin;
}

.box-login{
}

.logo{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px auto;
}

.input{
    height: 40px;
    border-radius: 20px;
    width: 300px;
    margin: 10px 0;
    border:1px solid #126481;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.input input{
    width: 100%;
    font-size: 14px;
    background: none;
    outline: none;
    border: none;
    padding: 0 10px;
}

.button{
    height: 40px;
    border-radius: 20px;
    width: 300px;
    margin: 10px 0;
    background-image: linear-gradient(to right,#136483,#008FBB);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button:active:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}