<div class="container-m">
  
  <div class="box-login">
    <div class="logo"></div>
    <div class="input" >
      <input type="email" placeholder="email">
    </div>
    <div class="input">
      <input type="password" placeholder="password">
    </div>
    <div class="button">เข้าสู่ระบบ</div>
  </div>
</div>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>